<% layout('layouts/boilerplate')%>

<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <img src="<%= campground.image%>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title%></h5>
                <p class="card-text"><%= campground.description%></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= campground.location%></li>
                <li class="list-group-item">$<%= campground.price%>/night</li>
            </ul>
            <div class="card-body">
                <a class="card-link btn btn-info" href="/campgrounds/<%=campground._id%>/edit">Edit</a>
                <form class="d-inline" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <div class="card-footer text-muted">
                
                <% 
                    // Generate a random number between 1 and 30 for days ago
                    const daysAgo = Math.floor(Math.random() * 30) + 1;
                %>
                <%= daysAgo %> days ago
            </div>
        </div>
        <form action="/campgrounds/<%=campground._id%>/reviews" class="mb-3 needs-validation" method="POST" novalidate>
            <div class="mb-3">
                <label id="rating" for="rating" class="form-label">Rating</label>
                <input class="form-range" type="range" min="1" max="5" id="rating" name="review[rating]">
                <br>
                <label class="form-label" for="body">
                    Reviews
                </label>
                <textarea class="form-control" name="review[body]" id="body" rows="3" required>
                </textarea>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
        <% for(const review of campground.reviews) {%>
            <div class="card mb-3">
                <div class="card-body">
                Rating:<p><%= review.rating %></p>
                Reviews:<p><%= review.body %></p>
            </div>
            <form action="/campgrounds/<%= campground._id%>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                <button class="btn btn-sm btn-danger">Delete</button>
            </form>
             <%}%> 
        </div>
    </div>
</div>